<!-- <!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>选择签证国家</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/xuanze.css">
</head>
<body> -->
	<div id="warp" ng-controller="customersCtrl">
		<header class="header">
			<a href="#"></a>
			<h1>选择签证国家</h1>
		</header>
		<section class="main">
			<section class="list">
				<div class="left">
					<ul id="item">
						<!-- <li ng-repeat="x in names.conList" data-id="{{x.id}}">{{x.zhou}}</li> -->
						<!-- <li>大洋洲</li>
						<li>非洲</li>
						<li>南美洲</li>
						<li>北美洲</li>
						<li>亚洲</li>
						<li>亚洲日韩</li>   -->
					</ul>
				</div>
				<div class="right" id="right">
					<ul id="con_list">
						<!-- <li ng-repeat="x in names.country.ouzhou"><img ng-src="{{x.imgs}}" alt=""><span>{{x.tit}}</span></li> -->
						<!-- <li><img src="images/icon_y_14.png" alt=""><span>法国</span></li>
						<li><img src="images/icon_y_14.png" alt=""><span>法国</span></li> -->
					</ul>
				</div>
			</section>
		</section>
	</div>
<!-- 	<script src="js/angular.min.js"></script>
<script src="js/zepto.js"></script>

<script src="js/iscroll5.js"></script>
<script src="js/fontSize.js"></script>
<script src="js/xuanze.js"></script>
 <script>
	//var app = angular.module('myApp', []);
		/*app.controller('customersCtrl', function($scope, $http) {
   			 $http.get("data/country.json")
   			 .success(function(response) {$scope.names = response;console.log(response.country.ouzhou);})
   			 .error(function(){alert("失败了")})
	});*/
</script> 
</body>
</html> -->